@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

body { padding-top: 20px; padding-bottom: 40px; font-family: 'Merriweather', Georgia, Times; font-size: 18px; }
.clear_left_float{
    clear: left;
}
.inline_block{
    display: inline-block;
}
.text-bold{
    font-weight: bold;
}
.slide-box{
    margin-top: 1em; 
    padding-top: 1em; 
    padding-bottom: 1em;
    border: 1px #CCC dotted;
    border-radius: 15px;
}
.footer-box {
    text-align: center; 
    font-size: 16px; 
}

#rolling-box {
  max-width: auto;
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

#rolling {
  max-width: auto;
  width: 100%;
  height: 250px;
  position: absolute;
}
#rolling ul {
  position: absolute;
  top: 0px;
  left: 0px;
}
#rolling ul li {
  list-style-type: none;
  float: left;
  width: auto;
  height: auto;
  margin: 0px;
  border: 0px;
}
#rolling img {
  width: 250x;
  height: 250px;
  border: 1px solid orange;
}

/* Left & right buttons */
.left, .right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "right button" to the right */
.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.left:hover, .right:hover {
  background-color: rgba(0,0,0,0.8);
}

