@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: Arial, 'Merriweather', Georgia, Times;
    font-size: 18px;
}

.clear_left_float {
    clear: left;
}

.inline_block {
    display: inline-block;
}

.text-bold {
    font-weight: bold;
}

.slide-box {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px #CCC dotted;
    border-radius: 15px;
}

#bgc-changing {
    --x: 0px;
    --y: 0px;
    border-radius: 5px;
    background: radial-gradient(circle at var(--x) var(--y), white, lightgrey);
}

.rotationed {
    position: relative;
    margin: -100px 0px -100px;
    overflow: hidden;
}

.cfd {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    float: left;
    border-top: 6px solid #1ca9c8;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    line-height: 100px;
    text-align: center;
    animation: rotation 1s linear 0s infinite normal both;
}

.hpc {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    float: right;
    border-top: 6px solid #1ca9c8;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    line-height: 100px;
    text-align: center;
    animation: rotation 1s linear 0s infinite normal both;
}

.cfd span,
.hpc span {
    display: inline-block;
    animation: rotation 1s linear 0s infinite reverse both;
}

.cfd::before,
.hpc::before,
.cfd::after,
.hpc::after {
    content: " ";
    position: absolute;
    top: -6px;
    left: 0;
    border-top: 6px solid #aabb33;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    transform: rotate(120deg);
}

.cfd::after,
.hpc::after {
    transform: rotate(240deg);
    border-color: #ff0000;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.strip {
    height: 40px;
    width: 720px;
    position: absolute;
    left: 200px;
    top: 120px;
    background: repeating-linear-gradient(45deg, #f00 0px, #00f 15px, #0f0 15px, #f69d3c 30px);
    background-size: 42px 40px;
    animation: running-strip 1s linear 0s infinite normal both;
}

@keyframes running-strip {
    from {
        background-position: -42px 0px;
    }
    to {
        background-position: 0px 0px;
    }
}

.footer-box {
    text-align: center;
    font-size: 16px;
}

#rolling-box {
    max-width: auto;
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

#rolling {
    max-width: auto;
    width: 100%;
    height: 250px;
    position: absolute;
}

#rolling ul {
    position: absolute;
    top: 0px;
    left: 0px;
}

#rrolling ul li {
    list-style-type: none;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#rolling ul li {
    list-style-type: none;
    float: left;
    width: auto;
    height: auto;
    margin: 0px;
    border: 0px;
}

#rrolling img {
    width: 250x;
    height: 250px;
}

#rolling img {
    width: 250x;
    height: 250px;
    border: 1px solid orange;
}


/* Left & right buttons */

.left,
.right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "right button" to the right */

.right {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.left:hover,
.right:hover {
    background-color: rgba(0, 0, 0, 0.8);
}